.services-sec {
    overflow: hidden;
}

.veal-container {
    width: 1180px;
    height: 760px;
    position: relative;
    margin: 100px auto 0;
}

.veal-space {
    width: 100%;
    height: 280px;
    background-color: #ffffff;
    position: absolute;
    z-index: 7;
    bottom: 0;
}

.biggest-veal {
    width: 966px;
    height: 966px;
    border: 2.73px solid #CFCFDB;
    border-radius: 50%;
    position: relative;
    z-index: 7;
    margin: 0 auto;
    background: transparent;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spinBiggest 20s linear infinite;
}

@keyframes spinBiggest {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.gradient-line {
    width: 2px;
    height: 966px;
}

.yg-gradient {
    background: linear-gradient(90deg, #FFAC05 -2.46%, #75D900 102.55%);
}

.gb-gradient {
    background: linear-gradient(90deg, #27FF9C 0%, #271ED9 100%);
}

.ro-gradient {
    background: linear-gradient(90deg, #FF220A -2.54%, #D9782C 102.47%);
}

.po-gradient {
    background: linear-gradient(270deg, #FF28A3 -2.59%, #D9711E 102.42%);

}

.bp-gradient {
    background: linear-gradient(270deg, #6674FF -2.45%, #D954CD 102.56%);
}


.line-90 {
    transform: rotate(90deg);
}

.line-45 {
    transform: rotate(45deg);
}

.line-180 {
    transform: rotate(180deg);
}

.line-135 {
    transform: rotate(135deg);
}

.long-veal-white {
    width: 549px;
    height: 549px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    overflow: visible;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.long-veal-gradient {
    width: 440px;
    height: 440px;
    background: linear-gradient(90deg, #FF28A3 0.03%, #D9711E 100.01%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.short-veal-inner-white {
    width: 380px;
    height: 380px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    padding: 0 40px;
}

.short-veal-white {
    width: 242px;
    height: 242px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: counterSpin 20s linear infinite;
}

.short-veal-gradient {
    width: 177px;
    height: 177px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.short-veal-inner-small {
    width: 170px;
    height: 170px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.short-veal-inner-small span {
    color: #001E61;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

@keyframes counterSpin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

.veal1 {
    top: 0%;
    left: 50%;
}

.veal2 {
    top: 15%;
    left: 85%;
}

.veal3 {
    top: 50%;
    left: 100%;
}

.veal4 {
    top: 85%;
    left: 85%;
}

.veal5 {
    top: 100%;
    left: 50%;
}

.veal6 {
    top: 85%;
    left: 15%;
}

.veal7 {
    top: 50%;
    left: 0%;
}

.veal8 {
    top: 15%;
    left: 15%;
}

.services-gif {
    width: 60%;
}

@media (max-width: 771px) {
    .veal-container {
        height: auto;
        margin: 100px 0;
    }

    .long-veal-white {
        top: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 300px;
    }

    .long-veal-gradient {
        width: 80%;
        height: 80%;
    }

    .short-veal-inner-white {
        width: 90%;
        height: 90%;
        font-size: 30px;
    }

    .biggest-veal {
        width: 700px;
        height: 700px;
    }

    .gradient-line {
        height: 700px;
    }

    .veal-space {
        display: none;
    }
}

@media (max-width: 767px) {
    .services-gif {
        width: 100%;
    }
}

@media (max-width: 300px) {
    .long-veal-white {
        width: 200px;
        height: 200px;
    }

    .short-veal-inner-white {
        font-size: 18px;
    }
}